.connectButton {
  color: #1a1a1a !important;
  background-color: transparent !important;
  width: fit-content !important;
  height: 32px !important;
  padding: 0px 8px 0px 8px !important;
  font-size: medium !important;
}

.connectButtonLight {
  background-color: #ebebeb !important;
}

.connectedButton {
  background: transparent !important;
}

.iconButton {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.icon {
  width: 24px !important;
  height: 24px !important;
}

.textBold11 {
  font-weight: 600 !important;
  font-size: medium !important;
}

.blackIcon {
  margin-right: 6px !important;
}

.walletBox {
  background-color: #0070001a !important;
}

.walletText {
  color: #007000 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.walletVerifyBox {
  border: 2px solid #ebebeb !important;
  border-radius: 8px !important;
  padding: 16px !important;
}

.walletVerifyBoxText {
  color: #7e7e7e !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  white-space: pre-line !important;
}

.boxMargin {
  margin-top: 24px !important;
}

.boxEnsList{
  margin-top: 12px !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 2px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1a1a1a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Hide the default radio button */
.customRadio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #666666;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.customRadio:checked {
  background-color: white;
  border: 1px solid #1a1a1a;
}

.customRadio:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1a1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide the default checkbox */
.customCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #666666;
  border-radius: 4px; /* Make it square with slightly rounded corners */
  outline: none;
  cursor: pointer;
  position: relative;
}

.customCheckbox:checked {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

/* Tick mark for the checked state */
.customCheckbox:checked::after {
  content: '';
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
