@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.splashContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFCC00;
  font-family: "Open Sans";
}

.splashLogo{
  width: 227px;
  height: 227px;
}

.splashTitle{
  font-weight: 800;
  font-size: 112px;
  margin-top: 12px;
}

.splashVersion{
  font-weight: 300;
  font-size: 48px;
}